@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,600&display=swap');
body {
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  max-width: 100vw;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  height: 7rem;
  min-width: 100vw;
  align-items: center;
  padding: 0 1rem;
  background-color: #7BDFF2;
  
}


.nav-links {
  text-decoration: none;
  margin: 1rem;
  padding: 0.6rem 1rem;
  background-color: #22333b;
  color: #EFF7F6;
  border-radius: 25px;
  transition: all .2s ease-in-out;
}

.nav-links:hover {
  transform: scale(1.2);
}

.heading {
  margin-left: 750px;
  font-size: 50px;
  font-style: oblique;
  /* color: #fed000; */
}

.info span{
  font-weight: 600;
}
.social-icon {
  font-size: 30px;
  margin-right: 1rem;
}
.form {
  display: flex;
  width: 100%;
  justify-content: center;
}
.input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 6px;
}

input:focus {
  outline: none;
}
.search {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  width: 250px;


}
.btn {
  width: 100px;
  cursor: pointer;
}